.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color{
  background-color:blanchedalmond;
}
.sidebar-list{
  background-color: #fff;
  border-right: 1px solid #15467c;
  max-width: 200px !important;
}
.no-border{
  border-radius:0px !important;
}
.picker-panel {
  z-index: 9999;
}
.dash {
  /* border: 0 none;
  border-top: 2px  #322f32;
  background: none;
  height:0; */
  /* width:"400"; 
  style:"border: 2px dashed #C0C0C0" ;
  color:"#FFFFFF";
  size : "6"; */
  margin: "20px";
  padding: '10px';
  border: '1px solid #ccc';
}
.labelStyle {
  float : "left";
  width : "10em";
  margin-right : "1em";
  text-align : "right";
}